<div class="container">
  <mat-card class="reset">
    <mat-card-header>
      <mat-card-title> Reset Password </mat-card-title>
    </mat-card-header>
    <p class="text-center">
      Please enter your email address to request a password reset.
    </p>
    <mat-card-content>
      <form class="reset__form" [formGroup]="forgotPassForm" (submit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="email" required />
          <mat-error
            *ngIf="
              forgotPassForm.controls.email.touched &&
              forgotPassForm.controls.email.invalid
            "
          >
            <span *ngIf="forgotPassForm.controls.email.errors.required"
              >This field is mandatory.</span
            >
            <span *ngIf="forgotPassForm.controls.email.errors.pattern"
              >This field is invalid.</span
            >
          </mat-error>
          <mat-icon class="input-icon" matPrefix>account_circle</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Reset Password
        </button>
      </form>
      <div class="redirectToLogin">
        <a class="redirectToLogin__link" [routerLink]="['/login']"
          >Go Back To? Login</a
        >
      </div>
    </mat-card-content>
  </mat-card>
</div>
